<%= form_with(model: projeto, local: true) do |form| %>
  <% if projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :projeto %>
    <%= form.text_field :projeto, id: :projeto_projeto %>
  </div>

  <div class="field">
    <%= form.label :bug %>
    <%= form.text_field :bug, id: :projeto_bug %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
